
*.h5
*.sentinel
*.vsidx
*.v2
.vs/chatbot-tensorflow-v2.0/v17/.suo
*.1
*.lock
chatbot website/bin/Debug/net6.0/chatbot website.dll
chatbot website/bin/Debug/net6.0/chatbot website.pdb
chatbot website/bin/Debug/net6.0/chatbot website.staticwebassets.runtime.json
chatbot website/bin/Debug/net6.0/DAL.dll
chatbot website/bin/Debug/net6.0/DAL.pdb
chatbot website/bin/Debug/net6.0/PythonInterpreter.dll
chatbot website/bin/Debug/net6.0/PythonInterpreter.pdb
chatbot website/obj/chatbot website.csproj.nuget.dgspec.json
chatbot website/obj/chatbot website.csproj.nuget.g.props
chatbot website/obj/Debug/net6.0/chatbot website.assets.cache
chatbot website/obj/Debug/net6.0/chatbot website.csproj.AssemblyReference.cache
chatbot website/obj/Debug/net6.0/chatbot website.csproj.CoreCompileInputs.cache
chatbot website/obj/Debug/net6.0/chatbot website.csproj.FileListAbsolute.txt
chatbot website/obj/Debug/net6.0/chatbot website.GeneratedMSBuildEditorConfig.editorconfig
chatbot website/obj/Debug/net6.0/chatbot website.genruntimeconfig.cache
chatbot website/obj/Debug/net6.0/chatbot website.dll
chatbot website/obj/Debug/net6.0/chatbot website.pdb
chatbot website/obj/Debug/net6.0/staticwebassets.build.json
chatbot website/obj/Debug/net6.0/staticwebassets.development.json
chatbot website/obj/project.assets.json
chatbot website/obj/project.nuget.cache
DAL/bin/Debug/net6.0/DAL.dll
DAL/bin/Debug/net6.0/DAL.pdb
DAL/obj/DAL.csproj.nuget.dgspec.json
DAL/obj/DAL.csproj.nuget.g.props
DAL/obj/Debug/net6.0/DAL.assets.cache
DAL/obj/Debug/net6.0/DAL.csproj.AssemblyReference.cache
DAL/obj/Debug/net6.0/DAL.csproj.CoreCompileInputs.cache
DAL/obj/Debug/net6.0/DAL.csproj.FileListAbsolute.txt
DAL/obj/Debug/net6.0/DAL.dll
DAL/obj/Debug/net6.0/DAL.GeneratedMSBuildEditorConfig.editorconfig
DAL/obj/Debug/net6.0/DAL.pdb
DAL/obj/project.assets.json
DAL/obj/project.nuget.cache
PythonInterpreter/bin/Debug/net6.0/PythonInterpreter.dll
PythonInterpreter/bin/Debug/net6.0/PythonInterpreter.pdb
PythonInterpreter/obj/Debug/net6.0/PythonInterpreter.assets.cache
PythonInterpreter/obj/Debug/net6.0/PythonInterpreter.csproj.AssemblyReference.cache
PythonInterpreter/obj/Debug/net6.0/PythonInterpreter.csproj.CoreCompileInputs.cache
PythonInterpreter/obj/Debug/net6.0/PythonInterpreter.csproj.FileListAbsolute.txt
PythonInterpreter/obj/Debug/net6.0/PythonInterpreter.dll
PythonInterpreter/obj/Debug/net6.0/PythonInterpreter.GeneratedMSBuildEditorConfig.editorconfig
PythonInterpreter/obj/Debug/net6.0/PythonInterpreter.pdb
PythonInterpreter/obj/project.assets.json
PythonInterpreter/obj/project.nuget.cache
PythonInterpreter/obj/PythonInterpreter.csproj.nuget.dgspec.json
PythonInterpreter/obj/PythonInterpreter.csproj.nuget.g.props
PythonInterpreter/obj/Debug/net6.0/ref/PythonInterpreter.dll
PythonInterpreter/obj/Debug/net6.0/refint/PythonInterpreter.dll
*.targets
.vs/chatbot-tensorflow-v2.0/v17/TestStore/0/000.testlog
.vs/chatbot-tensorflow-v2.0/v17/TestStore/0/testlog.manifest
