<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chatbot_website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/chatbot_website.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <section id="section1">
        <header class="mb-auto">
                <nav id="main-navbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
                    
                        <a class=" title" asp-area="" asp-controller="Home" asp-action="Index">Tensor Flow ChatBot Website</a>
                    
                    
                        <a class=" title" asp-area="" asp-controller="Home" asp-action="Index">Upper Management</a>
                    
                        
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        
                    
                </nav>
            </header>
            <div class="row">
                @RenderBody()
            </div>
    
            @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>*@
            @await RenderSectionAsync("Scripts", required: false)

    </section>
    
    <section id="section2">
        <div id="footer-container">
                <footer class="border-top footer text-muted mt-auto">
                    <div class="container mt-auto">
                        Copyright &copy; 2022 Upper Management - chatbot_website  All rights reserved
                    </div>
                </footer>
            </div>
    </section>
    
    
</body>
</html>
