@{
    ViewData["Title"] = "Home Page";
}



<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center my-lg-5 text-black">
    <main class="px-3">
        <h1 class="display-4 p-3">Upper Management's ChatBot Website</h1>
        <p class="lead">
            <a href="/Chat/ChatWindow" class="btn btn-lg btn-secondary fw-bold border-black bg-black">Talk to a Bot!</a>
        </p>
    </main>
    
</div>
