html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-top: 48px;
}

main_bg_color {
    background-color: #2d2d2d;
}

.chat_card {
    width: 800px;
}

.user_textbox {
    display: inline-block;
    background-color: #009FB7;
    padding: 5px;
    text-align: center;
    color: white;
}

.bot_textbox {
    display: inline-block;
    background-color: #715AFF;
    padding: 5px;
    text-align: center;
    color: white;
}

.chat_space {
    height: 280px;
}

.inline_block {
    display: inline-block;
}

.layer_box {
    height: 280px;
}