/*
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}


input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}


html {
    font-size: 14px;
    min-height: 100%
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}



.Title {
    //display: inline;//
}

body {
    color: #17213a;
    
    margin-bottom: 100px;
    background-color: #0B132B;
}

footer {
    bottom: 0;
    position: absolute;
    left: 0;
    margin-top: 100px;
    //width: 100%;//
    white-space: nowrap;
    line-height: 60px;
}
    nav{
    display:flex;
    flex-direction:row;

}
#nav-item {
    display: flex;
    flex: 1;
    list-style: none;
}

.navbar {
    margin: 5px, 5px, 5px, 5px;
    border: 5px solid black;
    background-color: #3A506B;
    display: flex;
    align-content: center;
    //width: 100%;//
}


button {
    background-color: #1C2541;
}
input {
    bottom: 0px;
}
input[type=text]{
    color: black;
}

li {
    list-style: none;
    flex: 1;
    color: #86BBD8 text-decor
}

}
a {
    font-size: 25px;
    text-decoration: none;
    color: #9EE493;
}

.Picture_Group {
    display: flex;
}

img {
    align-self: center;
    //flex: 1;//
}
*/
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding-top: 50px;
    padding-bottom: 20px;
}

sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-top: 48px;
}

.main_bg_color {
    background-color: #2d2d2d;
}

.chat_card {
    width: 800px;
}

.user_textbox {
    display: inline-block;
    background-color: #009FB7;
    padding: 5px;
    text-align: center;
    color: white;
}

.bot_textbox {
    display: inline-block;
    background-color: #715AFF;
    padding: 5px;
    text-align: center;
    color: white;
}

.chat_space {
    height: 280px;
}

.inline_block {
    display: inline-block;
}

.inline {
    display: inline;
}

.layer_box {
    height: 280px;
}