@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // add the model
}

<div class="container">
    <form id="new_intent" action="AddIntent" method="post"></form>
    <form id="new_pattern" action="NewPattern" method="post"></form>
    <form id="new_response" action="NewResponse" method="post"></form>
    <div class="p-4 p-md-5 rounded-3 bg-light align-content-center">
        <div class="row g-3">
            <div class="col-12">
                <label class="form-label" for="ipattern">New Pattern:</label>
                <input name="pattern" type="text" class="form-control" id="ipattern" form="NewPattern" required />
                <input type="submit" form="NewPattern"/>
            </div>
            <div class="col-12">
                "patterns": [
                @{//this isn't done yet
                }
                @foreach(var pattern in Model.patterns){
                    <p>"@pattern",</p>
                }
                ],
            </div>
            <div class="col-12">
                <label class="form-label" for="iresponse">New Response:</label>
                <input name="response" type="text" class="form-control" id="iresponse" form="NewResponse" required />
                <input type="submit" form="NewResponse"/>
            </div>
            <div class="col-12">
                "responses": [
                @{
                    //this isn't done yet
                }
                @foreach (var response in Model.responses)
                {
                    <p>"@response",</p>
                }
                ],
            <div class="col-12">
                <label class="form-label" for="iIntent">New Intent:</label>
                <input name="batch_size" type="text" class="form-control" id="iIntent" form="NewIntent" required />
                <input type="submit" form="NewIntent" />
            </div>
        </div>
    </div>
    
</div>