@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@Html.Partial("_Sidebar")

<div class="container">
    <form action="AddModel" method="post" class="p-4 p-md-5 rounded-3 bg-light align-content-center">
        <div class="row g-3">
            <div class="col-12">
                <label class="form-label" for="mName">Name:</label>
                <input name="name" type="text" class="form-control" id="mTitle" required />
            </div>
            <div class="col-md-6">
                <label class="form-label" for="mEpochs">Epochs:</label>
                <input name="epochs" type="text" class="form-control" id="mEpochs" required />
            </div>
            <div class="col-md-6">
                <label class="form-label" for="mBatchSize">Batch Size:</label>
                <input name="batch_size" type="text" class="form-control" id="mBatchSize" required />
            </div>
            <div class="col-md-6">
                <label class="form-label" for="mLearningRate">Learning Rate:</label>
                <input name="learning_rate" type="text" class="form-control" id="mLearningRate" required />
            </div>
            <div class="col-md-6">
                <label class="form-label" for="mBatchSize">New Layer:</label>
     
            </div>
        </div>
    </form>
</div>