@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ChatBotViewModel
@Html.Partial("_Sidebar")

<div class="container">
    <form id="new_Layer" action="Chat/NewLayer" method="post"></form>
    <form id="new_model" action="Chat/NewModel" method="post"></form>
    <div class="p-4 p-md-5 rounded-3 bg-light align-content-center">
        <div class="row g-3">
            <div class="col-12">
                <label class="form-label" for="mName">Name:</label>
                <input name="name" type="text" class="form-control" id="mTitle" form="new_model" required />
            </div>
            <div class="col-md-6">
                <label class="form-label" for="mEpochs">Epochs:</label>
                <input name="epochs" type="text" class="form-control" id="mEpochs" form="new_model" required />
            </div>
            <div class="col-md-6">
                <label class="form-label" for="mBatchSize">Batch Size:</label>
                <input name="batch_size" type="text" class="form-control" id="mBatchSize" form="new_model" required />
            </div>
            <div class="col-md-6">
                <label class="form-label" for="mLearningRate">Learning Rate:</label>
                <input name="learning_rate" type="text" class="form-control" id="mLearningRate" form="new_model" required />
            </div>
            <div class="col-12">
                <label class="form-label" for="mHiddenLayers">Layer Type:</label>
                <input name="layer_type" type="text" class="form-control" id="mHiddenLayers" form="new_layer" />
                <label class="form-label" for="mHiddenLayers2"> Associated Value:</label>
                <input name="layer_value" type="text" class="form-control" id="mHiddenLayers2" form="new_layer" placeholder="Neurons, Dropout Rate, etc..."/>
                <label class="form-label" for="mHiddenLayers3">Hidden Layers:</label>
                <input name="learning_rate" type="submit" class="form-control" id="mHiddenLayers3" value="Add Layer" form="new_layer" />

                @if(Model.HiddenLayers.Count > 0){
                    @foreach(var layer in Model.HiddenLayers){
                        <div>
                            <p>Layer Type: @layer.Item1 </p> 
                            @switch(layer.Item1){
                                case "dense":
                                    <p>Neurons: @layer.Item2</p>
                                    break;
                                case "dropout":
                                    <p>Dropout Rate: @layer.Item2</p>
                                    break;
                                case "flatten":
                                    break;
                                default:
                                    <p>Layer type was not found</p>
                                    break;
                            }
                        </div>
                    }
                }

                <input type="submit" class="form-control" id="mHiddenLayers3" value="Add Model" form="new_Model" />
     
            </div>
        </div>
    </div>
</div>